<!DOCTYPE html>
<!--
created by: Jonathan Hays
 -->
<html xmlns:th="http://www.thymeleaf.org/">

<head th:replace="~{fragments ::  head}"></head>

<body>

        <div class="sticky-top">
            <div th:replace="~{fragments :: pageTitle}"></div>
            <div th:replace="~{fragments :: navBar}"></div>


        <div class="container">

            <div class="row" style="margin-top:3%;">
                <div class="col-lg-4 col-lg-offset-4 m-auto  boxShadow backgroundColor" style="border-radius: 10px;">
                    <form method="post" class="form"
                        style="padding-bottom: 3%;" action="/epics/create">

                        <div class="form-group centerAlign formTitle">
                            <a th:href="'/projects/details/'+${project.id}" class="link">
                                <h3 th:text="${project.name}"></h3>
                            </a>
                            <p>Create New Epic</p>
                        </div>
                        <div class="col-lg-12 m-auto">
                            <div class="form-group">
                                <input type="hidden" name="projectId" th:value="${project.id}" readonly>
                                <label style="width: 100%;">
                                    Name:
                                    <input th:field="${epic.name}" class="form-control">
                                </label>
                                <p class="error" th:errors="${epic.name}"></p>
                            </div>
                        </div>
                        <div class="col-lg-12 m-auto">
                            <div class="form-group">
                                <label style="width: 100%;">
                                    Priority:
                                    <select th:field="${epic.priority}" class="form-control">
                                        <option th:each="type : ${priority}"
                                                th:value="${type}"
                                                th:text="${type.displayName}"
                                        ></option>
                                    </select>
                                </label>

                            </div>
                        </div>
                        <div class="col-lg-12 m-auto">
                            <div class="form-group">
                                <label style="width: 100%;">
                                    Size:
                                    <select th:field="${epic.size}" class="form-control">
                                        <option th:each="type : ${size}"
                                                th:value="${type}"
                                                th:text="${type.displayName}"
                                        ></option>
                                    </select>
                                </label>

                            </div>
                        </div>
                        <div class="col-lg-12 m-auto">
                            <div class="form-group">
                                <label>
                                    User Story:
                                    <textarea name="description" cols="44" rows="3"></textarea>
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-12 m-auto">
                            <div class="form-group">
                                <input type='submit' value='Create' class="btn btn-primary btn-outline-light">
                            </div>
                        </div>
                    </form>
                </div>

            </div>

        </div>

    </div>
    <div th:replace="~{fragments :: copyright}"></div>
</body>